/* Estrutura */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body {
    min-height: 100vh;
    background-attachment: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, rgba(194,194,194,1) 0%, rgba(121,121,121,1) 35%, rgba(25,25,25,1) 67%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar */

nav {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(37,0,0,1) 35%, rgba(92,0,0,1) 67%, rgba(107,0,0,1) 100%);

    .navbar-toggler-icon {
        color: white;
    }

    .navbar-brand {
        color: white;
        text-transform: uppercase;
        font-size: 30px;

        span {
            color: rgb(255, 8, 0);
            font-weight: bold;
        }
    }

    .navbar-brand:hover {
        transform: scale(1.2);
        transition: 0.3s;
    }

    .navbar-nav {
        
        margin-left: 30px;

        .nav-link {
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            margin: 10px;
        }

        .nav-link:hover {
            transform: scale(1.2);
            transition: 0.3s;
        }
    }
}

body.inicial nav a#inicial,
body.tabela nav a#tabela {
    color: red;
    cursor: text;
    transform: scale(1);
}

/* Seção Principal */

.principal {

    .texto-principal {
        padding: 20px;

        h1 {
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 90px;
        }
    }

}

/*Cartões*/

.cartoes {
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        color: white;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(37,0,0,1) 35%, rgba(92,0,0,1) 67%, rgba(107,0,0,1) 100%);
        padding: 30px;
    }

    .card {
        margin: 30px;
        padding: 20px;
    }
}

/* Footer */

footer {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(37,0,0,1) 35%, rgba(92,0,0,1) 67%, rgba(107,0,0,1) 100%);
    padding: 30px;

    h6 {
        color: white;
        font-weight: bold;
    }
}

/* Tabela */

.tabelas {

    h1 {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        color: white;
        padding: 30px;
    }

    .table {
        background: white;
    }
}